.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main img {
  width: 100%;
}

.fokep,.galeria{
  padding: 10px;
}

.fokep{
  display: grid;
  grid-template-columns: 70px auto 70px;
}
.bal,.jobb{
  cursor:grab;
  background-color: #282c344d;
  display:flex;
  align-items: center;
  font-size: 50px;
  padding: 6px;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.App-main .kiemelt {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  margin: auto;
}



